@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.default{
  background-color: red;
  margin: 0;
  padding: 0;
}
.green{
  background-color: green;
}
.purple{
  background-color: purple;
}

.blue{
  background-color: cornflowerblue;
}
.main-container{
  background-image: url("/assets/violin.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.top-menu-holder{
  background-color: black;
  height: 90px;
  min-height: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  opacity: 0.7;
  transition: padding-top 1s,padding-bottom 1s,min-height 1s, opacity 1s ,height 1s;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

}

.shrink{
  opacity: 1;
  min-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  height: 60px;

}



.intro-text{
  color: goldenrod;
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 25px;
  font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.title{
  color: white;
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 50px;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}



.hidden1{
  display: none;
}

.menu-item:hover{
  opacity: 1;
}
.masthead{
  padding-top: 50px;

}

.panel{
  padding-right: 0%;
  padding-left: 0%;
  width: 78vw;
  padding-top: 10%;
  background-color: rgba(35,35,35,0.96);
  color: white;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

.loader{
  margin-left :50%;
}

.center{
  text-align: center;
}

.sub-title{
  color: white;
  font-size: 35px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 50px;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

.bordered{
  border-style: groove ;
  border-color: black;
  border-width: 1px;
}
