.menuItem{
  font-size:4vw;
  text-align: center;
  color: black;
  min-height: 100px;
  box-shadow: 0pt 10pt 6pt -5px grey;
  border-radius: 8pt;
  border: 1pt solid #ccc;
  padding: 1mm 10vh 2mm;
  margin: auto auto 50px;
  background-color: gold;
  opacity: 0.5;

}

.textContainer{
  text-decoration: none;
}