.main_container{
    text-align: center;
}

.primary_link{
    font-size: large;
}

.link{
    margin-right: 5px;
    margin-left: 5px;
}

.secondry_link{
    font-size: small;
    margin-top: 5px;
}



